.jumbotron{
    background-color:#CC96BA;
    color:black;
    text-transform: uppercase;
}
/* Imagenes tomadas de freepik.es */
.back-dn{
    background-image: url(../imgs/decoracion_navidad.jpg);
    background-size: cover;
    padding: 50px 25px 50px 15px;
    color:#eee;
    text-shadow: 2px 2px 5px #353535;
}
.back-dh{
    background-image: url(../imgs/decoracion_hogar.jpg);
    background-size: cover;
    padding: 50px 25px 50px 15px;
    color:#eee;
    text-shadow: 2px 2px 5px #353535;
}
/* Imagenes tomadas de freepik.es */
.navbar{
    border-radius: 0em;
}
.categories{
    margin-top:2em;
    margin-bottom:2em;
}

footer{
    padding: 15px 15px 15px 15px;
    background-color:#343a40;
    color:#fff;
    margin-bottom:0px;
    margin-top:10px;
}
footer a{
    color:#fff;
}
.card-main{
    flex: 1 250px;
    border:solid 1px #a5a5a5;
    border-radius:0;
}

.btn-info{
    width:100%;
    border-radius:0;
}
.btn-modal{
    width:100%;
    margin-bottom:5px;
    border-radius:0;
}
.footer-icon{
    padding-right:15px;
}
.plus-icon{
    padding-left:15px;
    font-size:0.8rem;
}
.payments-icon{
    padding-left:15px;
}
.payments{
    width:20rem;
}
/*.main-banner{
    width:100%;
    height:250px;
    overflow:hidden;
}
.banner{
    width:100%;
}*/
.tab-content{
    padding-top:10px;
}