$blue: #214e96;
$pink: #d2aded;
$darkgrey: #212121;
$white: #dbd9d9;
$grey: #c2bebe;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($pt, $pr, $pb, $pl){
    padding-top:$pt;
    padding-right:$pr;
    padding-bottom:$pb;
    padding-left:$pl;
}

.jumbotron{
    background-color:$blue;
    color:$white;
    text-transform: uppercase;
}
/* Imagenes tomadas de freepik.es */
.back-dn{
    background-image: url(../imgs/decoracion_navidad.jpg);
    background-size: cover;
    @include padding(50px, 25px, 50px, 15px);
    color:$white;
    text-shadow: 2px 2px 5px $darkgrey;
}
.back-dh{
    background-image: url(../imgs/decoracion_hogar.jpg);
    background-size: cover;
    @include padding(50px, 25px, 50px, 15px);
    color: $white;
    text-shadow: 2px 2px 5px $darkgrey;
}
/* Imagenes tomadas de freepik.es */
.navbar{
    border-radius: 0em;
}
.categories{
    @include margenes(2em, 2em);
}

footer{
    @include padding(15px, 15px, 15px, 15px);
    background-color:$darkgrey;
    color:$white;
    @include margenes(2em, 0em);
}
footer a{
    color:$white;
}
.card-main{
    flex: 1 250px;
    border:solid 1px $grey;
    border-radius:0;
}

.btn-info{
    width:100%;
    border-radius:0;
}
.btn-modal{
    width:100%;
    @include margenes(0em, 1em);
    border-radius:0;
}
.footer-icon{
    @include padding(0px, 15px, 0px, 0px);
}
.plus-icon{
    @include padding(0px, 0px, 0px, 15px);
    font-size:0.8rem;
}
.payments-icon{
    @include padding(0px, 0px, 0px, 15px);
}
.payments{
    width:20rem;
}
/*.main-banner{
    width:100%;
    height:250px;
    overflow:hidden;
}
.banner{
    width:100%;
}*/
.tab-content{
    @include padding(10px, 0px, 0px, 0px);
}