.jumbotron {
  background-color: #d2aded;
  color: black;
  text-transform: uppercase;
}
/* Imagenes tomadas de freepik.es */
.back-dn {
  background-image: url(../imgs/decoracion_navidad.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 15px;
  color: #dbd9d9;
  text-shadow: 2px 2px 5px #212121;
}
.back-dh {
  background-image: url(../imgs/decoracion_hogar.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 15px;
  color: #dbd9d9;
  text-shadow: 2px 2px 5px #212121;
}
/* Imagenes tomadas de freepik.es */
.navbar {
  border-radius: 0em;
}
.categories {
  margin-top: 2em;
  margin-bottom: 2em;
}
footer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #212121;
  color: #dbd9d9;
  margin-top: 2em;
  margin-bottom: 0em;
}
footer a {
  color: #dbd9d9;
}
.card-main {
  flex: 1 250px;
  border: solid 1px #c2bebe;
  border-radius: 0;
}
.btn-info {
  width: 100%;
  border-radius: 0;
}
.btn-modal {
  width: 100%;
  margin-top: 0em;
  margin-bottom: 1em;
  border-radius: 0;
}
.footer-icon {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.plus-icon {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  font-size: 0.8rem;
}
.payments-icon {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.payments {
  width: 20rem;
}
/*.main-banner{
    width:100%;
    height:250px;
    overflow:hidden;
}
.banner{
    width:100%;
}*/
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
